ul {
    display: flex;
    gap: 150px;
    text-decoration: none;
    margin-left: 80px;

}

li {
    list-style: none;
}

.the {
    position: relative;
    top: 20px;
    left: -50px;
    font-size: 25px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    padding-bottom: 50px;
}

.siren {
    position: absolute;
    top: -50px;
    left: 615px;
    font-size: 80px;
    font-weight: 500;
}

.p1 {
    height: 500px;
    width: 650px;
    position: absolute;
    left: 120px;
    margin-top: 20px;
        border-radius: 10px;

}

.p2 {
    height: 240px;
    width: 450px;
    position: absolute;
    left: 780px;
    margin-top: 20px;
    border-radius: 5px;
}

.p3 {
    height: 248px;
    width: 450px;
    position: absolute;
    left: 780px;
    top: 445px;
    margin-top: 5px;
    border-radius: 5px;
}
.sp1{
    position:absolute;
    top: 630px;
    left: 320px;
    font-size:30px;
    color: white;
}
.sp2{
    position:absolute;
    top: 390px;
    left: 920px;
    font-size:30px;
    color: white;
}
.sp3{
    position:absolute;
    top: 650px;
    left: 920px;
    font-size:30px;
    color: rgb(252, 245, 245);
}
#container{
    position:absolute;
    top: 830px;
    left: 90px;
    display: flex;
    gap: 60px;
}
.imgc{
    width: 300px;
    height: 200px;
    border-radius: 30px;
}
.l1{
    position:absolute;
    left: 80px;
    top: 220px;
}
.content1{
position: absolute;
top: 260px;
left: 70px;
}
.l2{
    position:absolute;
    left: 440px;
    top: 220px;
}
.content2{
    position: absolute;
    top: 260px;
    left: 440px;
}
.l3{
    position:absolute;
    left: 800px;
    top: 220px;
}
.content3{
    position: absolute;
    top: 260px;
    left: 800px;
}